<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<p th:text="${errorMsg}" style="color:red;"></p>

<!-- Add info to specify how form should be be submitted. Will right handler that lives in action attribute /event/create bc add post handler to same route form lives at be okay living next to ea other bc one will handle Get one at Post Requests so action is events/create could leave action attibute off bc of this -->
<form method="post">
   <div class="form-group">
      <label>Name
   <!-- Remember name attribute of form element gives it a label that's used when submitting the data -->
         <input th:field="${event.name}" class="form-control">
      </label>
      <p class="error" th:errors="${event.name}"></p>
   </div>
   <div class="form-group">
      <label>Description
         <input th:field="${event.description}" class="form-control">
      </label>
      <p class="error" th:errors="${event.description}"></p>
   </div>
   <div class="form-group">
      <label>Contact Email
         <input th:field="${event.contactEmail}" class="form-control">
      </label>
      <p class="error" th:errors="${event.contactEmail}"></p>
   </div>
   <div class="form-group">
      <label>Type
         <select th:field="${event.type}">
         <!--loop over once for ea item in array-->
            <option th:each="type : ${types}"
                    th:value="${type}"
                    th:text="${type.displayName}"
            ></option>
         </select>
      </label>
   </div>
   <!-- Use value attribute to specify text that goes on the button -->
   <div class="form-group">
      <input type="submit" value="Create" class="btn btn-success">
   </div>
</form>

</body>
</html>